@model VoluntraGProject.Models.Volunteer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VolunteerId" />
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerName" class="control-label"></label>
                <input asp-for="VolunteerName" class="form-control" />
                <span asp-validation-for="VolunteerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skills" class="control-label"></label>
                <input asp-for="skills" class="form-control" />
                <span asp-validation-for="skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experince" class="control-label"></label>
                <input asp-for="Experince" class="form-control" />
                <span asp-validation-for="Experince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

