@model VoluntraGProject.Models.Application


@{
    ViewData["Title"] = "Event Applying";
}

<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Application</h2>
                </div>
                <div class="col-12">
                    <a href="">Event</a>
                    <a href="">Appying</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Single Post Start-->
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="comment-text">
                        <h3><a href="">Event Name</a></h3>
                        <span>01 Jan 2045 at 12:00pm Event Date Time </span>
                        <p>
                            Event Description Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
                        </p>
                    </div>
                    <div class="comment-form">
                        <h2>Apply to the event</h2>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div type="hidden">
                                <input asp-for="EventId" class="form-control" value="@ViewBag.eventid"  />
                                <span asp-validation-for="EventId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VolunteerName" class="control-label"></label>
                                <input asp-for="VolunteerName" class="form-control" />
                                <span asp-validation-for="VolunteerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="skills" class="control-label"></label>
                                <input asp-for="skills" class="form-control" />
                                <span asp-validation-for="skills" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Experince" class="control-label"></label>
                                <input asp-for="Experince" class="form-control" />
                                <span asp-validation-for="Experince" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AppliedDate" class="control-label"></label>
                                <input asp-for="AppliedDate" class="form-control" />
                                <span asp-validation-for="AppliedDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar">

                        <div class="sidebar-widget">
                            <h2 class="widget-title">Tags Cloud</h2>
                            <div class="tag-widget">
                                <a href="">National</a>
                                <a href="">International</a>
                                <a href="">Economics</a>
                                <a href="">Politics</a>
                                <a href="">Lifestyle</a>
                                <a href="">Technology</a>
                                <a href="">Trades</a>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <h2 class="widget-title">Text Widget</h2>
                            <div class="text-widget">
                                <p>
                                    Event Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Post End-->
    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>
