<!DOCTYPE html>
<html>
<head>
	<title>Voluntra</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="~/css/all.css">
	<link rel="stylesheet" type="text/css" href="~/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="~/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="~/css/jquery.rateyo.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mmenu.all.css" />
	<link rel="stylesheet" type="text/css" href="~/css/meanmenu.min.css" />
	<link rel="stylesheet" type="text/css" href="~/css/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<link href="~/https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@Voluntra.com" itemprop="email"><i class="fas fa-envelope"></i> info@Voluntra.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+962777501316" itemprop="telephone"><i class="fas fa-phone"></i> +962 777501316</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="login-block">
							<a asp-action="Login">Login /</a>
							<a asp-Action="Register">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="~/images/site-logo.jpg" alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="#">Home</a></li>
								<li><a href="#">NGOs</a></li>
								<li class="menu-parent">
									Language
									<ul class="sub-menu">
										<li><a href="#">Arabic</a></li>
										<li><a href="#">English</a></li>
									</ul>
								</li>

								<li><a href="">Gallery</a></li>
								<li><a href="">Feedback</a></li>
								<li><a href="">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->

    <div>
        <main role="main">
          
			@RenderBody()

        </main>
    </div>


		<!-- footer from here -->
		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+962777501316"><i class="fas fa-phone"></i> +962 777501316</a></p>
			</div>
		</section>
		<!-- End of Query Section -->

		<!--black footer-->
		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p>We Are A platform for Volunteers to find opportunities and NGOs to post requirements.</p>

						<h4><a href="tel:tel:+962777501316"><i class="fas fa-phone"></i>  +962 777501316</a></h4>
						<h4><a href="mailto:info@Voluntra.com"><i class="fas fa-envelope"></i> info@Voluntra.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Gongabu, Kathmandu, Nepal</a></h4>
					</div>


					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2025 &copy; Voluntra.com
				</div>
			</div>
		</footer>

		<!-- <nav id="menu">
			<ul>
				<li><a href="#">HOME</a></li>
				<li>
					<span>COURSES</span>
					<ul>
						<li><a href="#/courses/child">Child</a></li>
						<li><a href="#/courses/child">Child</a></li>
						<li>
							<span>Child</span>
							<ul>
								<li><a href="#/courses/child/grandChild">Grand Child</a></li>
								<li><a href="#/courses/child/grandChild">Grand Child</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">gallery</a>
					<ul>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
					</ul>
				</li>
				<li>
					<a href="#">news</a>
					<ul>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
					</ul>
				</li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</nav> -->

	</div>
	<script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/js/lightbox.js"></script>
	<script type="text/javascript" src="~/js/all.js"></script>
	<script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="~/js/owl.carousel.js"></script>
	<script type="text/javascript" src="~/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="~/js/jquery.rateyo.js"></script>
	<!-- <script type="text/javascript" ~/src="js/jquery.mmenu.all.js"></script> -->
	<!-- <script type="text/javascript" ~/src="js/jquery.meanmenu.min.js"></script> -->
	<script type="text/javascript" src="~/js/custom.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>